eval "$(skogcli config export-env --namespace skogai,uv,claude,openrouter)"
export NGROK_AUTHTOKEN=3CWqFl79qvq5dmbAu1vmiTcj3Vr_7cpZrkJWn6rT7uJ29w2tp
export CLAUDE_PROJECT_DIR="$HOME/claude"
export RTK_HOOK_AUDIT=1
export AGENT_EMAIL="claude@skogai.se"
export SOURCE_MAILDIR="$HOME/.local/share/mail/gmail"
export DEST_MAILDIR="./.skogai/email"
export MAILDIR_INBOX="$HOME/.local/share/mail/gmail/INBOX"
PATH_add ./.skogai/tools
