[submodule "marketplaces/worktrunk"]
	path = marketplaces/worktrunk
	url = https://github.com/max-sixty/worktrunk
[submodule "marketplaces/episodic-memory"]
	path = marketplaces/episodic-memory
	url = https://github.com/SkogAI/episodic-memory
